@model IEnumerable<MechanicalAssistance.Web.Data.Entities.MechanicalServiceEntity>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create New Service</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:dodgerblue; text-align:center; font-weight: bold; color:black; border-color:black;">
                <h3 class="panel-title">Services</h3>
            </div>
            <div class="panel-body media-body">
                <table class="table table-hover table-responsive " style="background-color:dodgerblue; text-align:center; font-weight: bold; color:black;  border-color:black; siz ;" id="MyTable">
                    <thead>
                        <tr>
                            <th style="border-spacing: 50px; border-collapse: separate">
                                <center> @Html.DisplayNameFor(model => model.LogoPath)</center>
                            </th>
                            <th>
                                <center>@Html.DisplayNameFor(model => model.ServiceName)</center>
                            </th>

                            <th>
                                <center>@Html.DisplayNameFor(model => model.Description)</center>
                            </th>

                            <th>
                                <center>@Html.DisplayNameFor(model => model.Date)</center>
                            </th>
                            <th>
                                <center> @Html.DisplayNameFor(model => model.Address)</center>
                            </th>

                            <th> <center><label>Number</label></center></th>
                            <th> <center><label>Actions</label></center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td style="padding-right: 60px;">
                                @if (!string.IsNullOrEmpty(item.LogoPath))
                                {
                                    <img src="@Url.Content(item.LogoPath)" alt="Image" style="width:180px;height:180px;max-width: 180%; height: auto;" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="border-spacing:10px;"><i class="glyphicon glyphicon-pencil"></i></a>
                                <br />
                                <br />
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                <br />
                                <br />
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Services/Delete/' + item_to_delete;
            });
        });
    </script>
}