@model IEnumerable<MechanicalAssistance.Web.Data.Entities.ProductEntity>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create New Product</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:dodgerblue; text-align:center; font-weight: bold; color:black; border-color:black;">
                <h3 class="panel-title">Product</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" style="background-color:dodgerblue; text-align:center; font-weight: bold; color:black; border-color:black;" id="MyTable">
                    <thead>
                        <tr>
                            <td>
                                <center> @Html.DisplayNameFor(model => model.Photo)</center>
                            </td>
                            <th>
                                <center>@Html.DisplayNameFor(model => model.ProductName)</center>
                            </th>

                            <th>
                                <center>@Html.DisplayNameFor(model => model.ProductBrand.BrandName)</center>
                            </th>

                            <td>
                                <center>@Html.DisplayNameFor(model => model.Description)</center>
                            </td>
                            <td>
                                <center> @Html.DisplayNameFor(model => model.Price)</center>
                            </td>

                            <th> <center><label>Actions</label></center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Photo))
                                {
                                    <img src="@Url.Content(item.Photo)" alt="Image" style="width:180px;height:180px;max-width: %; height: auto;" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ProductBrand.BrandName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Products/Delete/' + item_to_delete;
            });
        });
    </script>
}